@font-face {
  font-family: 'ptsans';
  src: url('../fonts/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptsans-bold';
  src: url('../fonts/ptsans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptsans-caption';
  src: url('../fonts/ptsans-caption.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptsans-narrow-bold';
  src: url('../fonts/ptsans-narrow-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: ptsans-caption;
}

.fullwidth {
    width: 100%;
}

.push-right {
    position: absolute;
    right: 0;
}

.floatingFooter {
    padding: 7px;
    height: 50px;
    background-color: #F5F5F5; 
    border-top: 1px solid lightgray; 
    position: fixed; bottom: 0%;
    width: 100%;
}

.footerText {
  margin-top:5px; 
}

.gray {
    color: lightgray;
}

.main-area {
    margin-right: 10%;
}

nav.main-menu {
    margin-bottom: 0;
}

.as-table {
    display: table;
}

.as-table-cell {
    display: table-cell;
}

.flexbox {
    min-height: 550px;
    max-height: 550px;
}

.thumbnail {
    border: none;
    overflow:hidden;
    margin-bottom: 30px;
    padding: 20px;
}

.thumbnail:hover {
    -webkit-box-shadow: 0 1px 7px -1px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 7px -1px rgba(0,0,0,.25);
    box-shadow: 0 1px 7px -1px rgba(0,0,0,.25);
    border-radius: 2px;
    z-index: 7;
}

.thumbnail img {
  display: block;
  max-width:200px;
  max-height:300px;
  width: auto;
  height: auto;
}
.thumbnail>p {
    word-wrap: break-word;
}

.mini-thumbnail {
  width: 100%;
}

.book-title {
    font-family: ptsans-narrow-bold;
    font-size: 12pt;
    font-weight: 300;
    margin: 10px 0px;
}

.thumbnail .description {
    font-family: ptsans;
    font-size: 10pt;
}

.thumbnail h3 {
    font-family: ptsans-caption;
    font-size: 19pt;
    line-height: 25px;
}

.white-shadow {
    position: absolute;
    left: 0;
    bottom: 30px;
    height: 30px;
    width: 100%;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0),color-stop(100%,rgba(255,255,255,1))));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
}

#new-book-table td {
  vertical-align: top;
  padding: 10px;
}

.search-top-wrapper {
    border: solid 1px #e1dfdf;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.13);
    height: 72px;
    padding: 0 50px 0 3%;
}

.search-top-submit {
    background: url(http://img.labirint.ru/design/search-button.svg) no-repeat center left;
    border: 0;
    cursor: pointer;
    font-size: 24pt;
    height: 35px;
    margin-top: 19px;
    position: absolute;
    right: 35px;
    width: 40px;
}

.search-top-input {
    border: 0;
    color: #737373;
    font-family: ptsans;
    font-size: 24pt;
    height: 48px;
    margin-top: 12px;
    outline: 0;
    width: 100%;
}

.book-container {
    border-style: dashed;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.16);
}

.book-description {
    padding: 0 40px;
}

h3.attention {
    margin-top: 50px;
}

.barcode-container {
    bottom: 0;
    position: absolute;
    height: 70px;
}

.popover {
    max-width: 780px;
    width: 90%;
}

/* If you plan on using affixed states, you need to include these in your CSS */
body.navbar-affixed-top { padding-top: 70px; }
body.navbar-affixed-bottom { padding-bottom: 70px; }

/* Bootstrap relies on HREF property of the A tag to be present to display the correct cursor but since we're using ng-click we need to have the following CSS */
.navbar a { cursor: pointer; }

/* For looks, following is not necessary, although I recommend including the statements for the search form */
.navbar { 
  border-radius: 0; 
  border-bottom: 1px solid #bbb;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
form[role=search], form[role=search]:before, form[role=search]:after {
  border: 0;
  box-shadow: none;
}
form[role=search] button, form[role=search] input { 
  margin: 0; 
  border-radius: 0px;
  border: 0;
}
form[role=search] input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: auto;
}
form[role=search] button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 0;
  border-left: 1px solid #ccc;
}
form[role=search] .form-group {
  border-radius: 4px;
  border: 1px solid #ccc;
  white-space: nowrap;
  box-shadow: 0 3px 6px rgba(0,0,0,.175);
}

@media (max-width: 767px){
  form[role=search] input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  form[role=search] button {
    display: none;
  }
  .navbar-nav .open .dropdown-menu {
    border-radius: 0;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.175), inset 0 -3px 6px rgba(0,0,0,.175);
  }
  .navbar-inverse .open .dropdown-menu {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }
}

.dropdown-menu>li>a {
    height: 35px;
}

.search-results>span {
    font-size: 7pt;
    background-color: white;
    margin-left: 10px;
}

.search-results:after {
    width: 100%;
    top: -7px;
    background-color: #cacaca;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    z-index: -1;
}
.search-scanner-title {
    font-family: ptsans-narrow-bold;
    font-size: 14pt;
}
img.scanner-img {
    margin-top: 20px;
    width: 100%;
}
p.search-results-person {
    margin-left: 15px;   
}
p.search-results-person:hover {
    background: #f5f5f5;
    cursor: pointer;  
}

.hand-cursor {
    cursor: pointer;
}

.collapsable-hint {  
  border-bottom: 1px dashed #999;
  display: inline;
  cursor: pointer;
}

.addBook-form {
  margin-top: 20px;
}

.addBook-description {
  margin: 0 30px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-warning {
    border-left-color: #aa6708;
}

.fa-small-header { 
    font-size: 100%;
}

body.signin {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
