<h1>Добавление новой книги</h1>

<div class="bs-callout">
    <p>Существует три пути заполнения каротчки книги: автоматичски по введенному коду ISBN, автоматически по отсканированному коду ISBN (например, web-камерой или телефоном) а также вручную</p>
    <p>Иногда OZON.ru, с которого мы бережно берем описания книг переименовывает авторов, категории, издателей. В этом случае алгоримты библиотеки попытаются выбрать наиболее подходящие записи. В этом случае строка будет подсвечена красным и будет предложено исправить на другой вариант (если не угадали). Если алгоритмы распознали в новых значениях все что мы уже знали, достаточно лишь сохранить</p>
    <p>Только полнота введенных полей гарантирует удобство поиска и работы с библиотектой</p>
</div>
<table id="new-book-table">
  <thead>
    <tr>
      <td class="col-md-6" 
          ng-class="{ 'bg-warning': vm.bookNotFound, 'bg-info': vm.loadingBookData, 'bg-success': vm.bookFound }">
        <h3>Ввод ISBN кода 
          <i ng-show="vm.loadingBookData" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          <i ng-show="vm.bookFound" class="fa fa-check" aria-hidden="true"></i>
          <label class="label label-warning" ng-show="vm.bookNotFound">Не найдено</label>
        </h3>
      </td>
      <td class="col-md-6"
          ng-class="{ 'bg-success': vm.rfidFound }">  
        <h3>Ввод RFID кода
          <i ng-show="vm.rfidFound" class="fa fa-check" aria-hidden="true"></i></h3>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td ng-class="{ 'bg-warning': vm.bookNotFound, 'bg-info': vm.loadingBookData, 'bg-success': vm.bookFound }">
        <p>Для автоматического заполнения данных книги, необходимо ввести её ISBN код. Это можно сделать как вручную, так и при помощи Web камеры компьютера либо телефона. Для сканирования при помощи телефона возьмите его, зайдите на этот сайт и нажмите кнопку "Сканировать телефоном" с ЭТОЙ стриницы</p>
      </td>
      <td ng-class="{ 'bg-success': vm.rfidFound }">
        <p>Для связывания книги с RFID меткой возьмите новую RFID метку, наклейте её на задний корешок книги с внутренней стороны и отсканируйте его, положив на сканер либо наведя на него включенный ручной сканер. Также убедитесь, что в нижней части сайта указано его имя.</p>
      </td>
    </tr>
    <tr>
      <td ng-class="{ 'bg-warning': vm.bookNotFound, 'bg-info': vm.loadingBookData, 'bg-success': vm.bookFound }">
        <form class="addBook-form">
            <div class="search-top-wrapper">
                <input autocomplete="off" maxlength="100"
                       class="search-top-input"
                       type="text" value="" placeholder="ISBN"
                       ng-model="vm.searchIsbnString"
                >
            </div>
            <br>
            <div class="fullwidth text-center">
                <button 
                  type='submit' 
                  class="btn btn-primary"
                  ng-disabled="!vm.canAutofillTable()"
                  ng-click="vm.searchByIsbn()">Заполнить карточку</button>
                &nbsp;
                <button 
                  type='submit' 
                  class="btn btn-primary"
                  ng-disabled="!vm.hasPhoneConnected"
                  ng-click="vm.scanByPhone()">Сканировать телефоном</button>
            </div>
        </form>
      </td>
      <td ng-class="{ 'bg-success': vm.rfidFound }">
        <form class="addBook-form">
            <div class="search-top-wrapper">
                <input autocomplete="off" maxlength="100"
                       class="search-top-input"
                       type="text" value="" placeholder="RFID"
                       ng-model="vm.searchRfidString"
                       ng-change="startSearch(searchString)"
                >
            </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<div class="addBook-description">
	<new-book disabled="vm.loadingBookData" book="vm.openedBook" internal="vm" not-found="vm.bookNotFound"></new-book>
</div>
<br>
<div class="fullwidth text-center">
    <button 
      type='submit' 
      class="btn btn-primary btn-lg"
      ng-disabled="vm.searchRfidString === '' || !vm.allFilled()"
      ng-click="vm.finishBookAdd()">Все корректно, сохранить</button>
</div>