<div class="container container-fluid row fullwidth">
    <div class="col-md-10 footerText">
        <span>
            <span>
                <strong>Соединение с драйвером </strong>
                <strong ng-if="vm.hasConnection === undefined">...</strong>
                <label ng-if="vm.hasConnection === false" class="label label-default">не установлено</label>
                <label ng-if="vm.hasConnection" class="label label-success">установлено</label>
            </span>
        </span>    
        <span ng-if="vm.hasConnection">
            <span>
                <strong>, Сканеры: </strong>  
                <label class="label label-default" ng-if="vm.devices.length==0">не подключены</label>
                <label class="label label-primary" ng-repeat="device in vm.devices">{{device.DeviceName}}<span ng-if="!$last"> </span></label>
            </span>
        </span>
    </div>
    <div class="col-md-2 push-right">
            <label 
                class="btn btn-primary pull-right" 
                ng-disabled="!vm.hasConnection"
                ng-click="vm.onAddbookClicked()">Добавть книгу</label>
    </div>
</div>