<h2>Карточка книги</h2>
<form class="form-horizontal">

  <!-- Изображение -->
  <div class="form-group">
    <label for="img-newbook" class="col-sm-2 control-label">Обложка:</label>
    <div class="col-sm-10">
      <img id="img-newbook" src="{{vm.getImageContents()}}" >
    </div>
  </div>

  <!-- Название -->
  <div class="form-group">
    <label for="title-newbook" class="col-sm-2 control-label">Название:</label>
    <div class="col-sm-10">
      <input ng-disabled="vm.disabled" id="title-newbook" class="form-control" ng-model="vm.book.Title" >
    </div>
  </div>

  <!-- Описание -->
  <div class="form-group">
    <label for="description-newbook" class="col-sm-2 control-label">Описание:</label>
    <div class="col-sm-10">
      <textarea ng-disabled="vm.disabled" class="form-control" id="description-newbook" rows="5" ng-model="vm.book.Description" ></textarea>
    </div>
  </div>

  <!-- ISBN -->
  <div class="form-group">
    <label for="isbn-newbook" class="col-sm-2 control-label">ISBN:</label>
    <div class="col-sm-10">
      <input ng-disabled="vm.disabled" id="isbn-newbook" class="form-control" ng-model="vm.book.Isbn">
    </div>
  </div>

  <!-- Автор -->
  <div class="form-group" ng-class="{'has-error bg-danger': vm.selectedAuthor.dirty}">
    <label for="author-newbook" class="col-sm-2 control-label">Автор:</label>
    <div class="col-sm-10">
        <ui-select ng-disabled="vm.disabled" id="author-newbook" theme="bootstrap" ng-model="vm.selectedAuthor">
            <ui-select-match placeholder="Выберите автора">
                {{vm.selectedAuthor.Name}}
            </ui-select-match>
            <ui-select-choices repeat="info in vm.getAuthors($select.search) | propsFilter: {Name: $select.search}">
                {{info.Name}}
            </ui-select-choices>
        </ui-select>
    </div>
  </div>

  <!--Категория -->
  <div class="form-group" ng-class="{'has-error bg-danger': vm.selectedCategory.dirty}">
    <label for="cat-newbook" class="col-sm-2 control-label">Категория:</label>
    <div class="col-sm-10">
        <ui-select ng-disabled="vm.disabled" id="cat-newbook" theme="bootstrap" ng-model="vm.selectedCategory">
            <ui-select-match placeholder="Выберите категорию">
            	{{vm.selectedCategory.Name}}
            </ui-select-match>
            <ui-select-choices repeat="info in vm.getCategories($select.search) | propsFilter: {Name: $select.search}">
                {{info.Name}}
            </ui-select-choices>
        </ui-select>
    </div>
  </div>

  <!--Хранение -->
  <div class="form-group" ng-class="{'has-error bg-danger': vm.selectedStorage.dirty}">
    <label for="storage-newbook" class="col-sm-2 control-label">Хранение:</label>
    <div class="col-sm-10">
        <ui-select ng-disabled="vm.disabled" id="storage-newbook" theme="bootstrap" ng-model="vm.selectedStorage">
            <ui-select-match placeholder="Выберите место хранения">
            	{{vm.selectedStorage.Name}}
            </ui-select-match>
            <ui-select-choices repeat="info in vm.getStorages($select.search) | propsFilter: {Name: $select.search}">
                {{info.Name}}
            </ui-select-choices>
        </ui-select>
    </div>
  </div>

  <!--Издательство -->
  <div class="form-group" ng-class="{'has-error bg-danger': vm.selectedPublisher.dirty}">
    <label for="publisher-newbook" class="col-sm-2 control-label">Издательство:</label>
    <div class="col-sm-10">
        <ui-select ng-disabled="vm.disabled" id="publisher-newbook" theme="bootstrap" ng-model="vm.selectedPublisher">
            <ui-select-match placeholder="Выберите издательство">
            	{{vm.selectedPublisher.Name}}
            </ui-select-match>
            <ui-select-choices repeat="info in vm.getPublishers($select.search) | propsFilter: {Name: $select.search}">
                {{info.Name}}
            </ui-select-choices>
        </ui-select>
    </div>
  </div>

  <!-- Язык -->
  <div class="form-group" ng-class="{'has-error bg-danger': vm.selectedLanguage.dirty}">
    <label for="lang-newbook" class="col-sm-2 control-label">Язык:</label>
    <div class="col-sm-10">
        <ui-select ng-disabled="vm.disabled" id="lang-newbook" theme="bootstrap" ng-model="vm.selectedLanguage">
            <ui-select-match placeholder="Выберите язык произведения">
            	{{vm.selectedLanguage.Name}}
            </ui-select-match>
            <ui-select-choices repeat="info in vm.getLanguages($select.search) | propsFilter: {Name: $select.search}">
                {{info.Name}}
            </ui-select-choices>
        </ui-select>
    </div>
  </div>

  <!-- Серия -->
  <div class="form-group" ng-class="{'has-error bg-danger': vm.selectedSeries.dirty}">
    <label for="series-newbook" class="col-sm-2 control-label">Серия:</label>
    <div class="col-sm-10">
        <ui-select ng-disabled="vm.disabled" id="series-newbook" theme="bootstrap" ng-model="vm.selectedSeries">
            <ui-select-match placeholder="Выберите серию если есть">
            	{{vm.selectedSeries.Name}}
            </ui-select-match>
            <ui-select-choices repeat="info in vm.getSeries($select.search) | propsFilter: {Name: $select.search}">
                {{info.Name}}
            </ui-select-choices>
        </ui-select>
    </div>
  </div>

  <div class="bs-callout bs-callout-warning" ng-show="vm.hasDirties()">
      <h2>Внимание</h2>
      <p>У вас есть свойства книги, для которых не нашлось совпадений по базе (отмечены красным). Если Вы нажмете на "Сохранить", программа создаст в базе новые записи для отсутствующих значений</p>
  </div>
</form>